.department {
	border-radius: 10px;
	padding: 6px 8px;
	color: var(--bs-white);
}

.taskContainer {
	list-style: none;
	padding: 0.9rem 0.8rem;
	margin-block: 0.7rem;
	border-radius: 1rem;
	-webkit-box-shadow: 3px 3px 11px -7px var(--bs-gray-600);
	box-shadow: 3px 3px 11px -7px var(--bs-gray-600);
	background-color: var(--bs-white);
}

.taskContainer h3 {
	margin: 0.7rem 0.3rem 0 0.3rem;
	font-size: 1.1rem;
	text-transform: uppercase;
}

.taskContainer p {
	margin: 0.5rem 0.3rem;
	color: var(--bs-gray-700);
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.progressBar {
	margin: 0.5rem 0.7rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;

	progress {
		inline-size: 100%;
		block-size: 10px;
	}
}

.bottomBar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-inline: 5px 2px;
}

.avatar {
	font-size: 1rem;
	width: 2.1rem;
	height: 2.1rem;
	border-radius: 50%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin-left: -3px;
}

.taskLink {
	text-decoration: none;
	color: inherit;
}
