.formContainer {
    text-align: left;
  }

  .title {
    margin-block: 1rem 2rem;
  }
  
  .formContainer .formRow {
    margin-block: 1rem;
  }

  .formContainer .formRow:last-child {
    margin-block-start: 2.5rem;
  }
  
  .formContainer input[type="radio"], .formContainer input[type="checkbox"] {
    margin-inline: 0.5rem;
  }

  .formRow {
    display: flex;
    gap: 3rem;
  }

  .formRow svg {
    margin: 0 7px 3px 0;
  }

  .formRow:not(:first-child) div {
    flex: 1;
  }

  .formRow div label:first-child {
    margin-block: 1rem;
  }

  .formRow:last-child > * {
    padding-bottom: 3px;
  }

  .labelRow {
    margin-block: 1.2rem 1rem;
    height: 1.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .formError {
    color: var(--bs-danger);
  }
