.formContainer {
    text-align: left;
  }

  .title {
    margin-block: 1rem 2rem;
  }
  
  .formContainer .formRow {
    margin-block: 1rem;
  }

  .formContainer .formRow:last-child {
    margin-block-start: 2.5rem;
  }
  
  .formContainer input[type="radio"], .formContainer input[type="checkbox"] {
    margin-inline: 0.5rem;
  }
  
  .authContainer {
    width: 100%;
    text-align: center;
  }

  .formRow {
    display: flex;
    gap: 2rem;
  }

  .formRow svg {
    margin: 0 0 3px 5px;
  }

  .formRow div label:first-child {
    margin-block: 1rem;
  }

  .formRow:last-child > * {
    padding-bottom: 2px;
  }
