.formContainer > label {
	margin-block: 1rem 0.5rem;
}

.buttonRow {
	display: flex;
	gap: 1rem;
}

.radioButton {
	display: inline;

	input[type='radio'] {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		visibility: hidden;
		z-index: 100;
	}

	input[type='radio']:checked + label {
		box-shadow: var(--bs-box-shadow-sm);
		transform: scale(1.03);
		background-color: var(--bs-light);
		box-shadow: var(--bs-box-shadow);
		transition: background-color 0.1s ease-in-out, transform 0.1s ease-in-out;
	}

	label {
		border-radius: 10px;
		border: 1px solid var(--bs-secondary-border-subtle);
		background-color: var(--bs-gray-100);
		padding: 0.4rem 0.8rem;
		cursor: pointer;
	}

	label:hover,
	label:focus-visible {
		box-shadow: var(--bs-box-shadow-sm);
	}
}

.subTaskList,
.contactList {
	margin-block: 1rem;
	list-style: none;
	padding: 0;

	input[type='checkbox'] {
		margin: 0.5rem 1rem 0.5rem 0.5rem;
	}
}

.buttonRow:last-child {
	margin-block: 2rem;
}

.contactList {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(12rem, 2.5fr));
	grid-gap: 10px 20px;
	margin: 0;
}

label[for='subTasks'] {
	display: block;
}

.addButton {
	padding: 0;
	width: 2.25rem;
	height: 2.25rem;
	margin-inline-start: 1rem;
}

.subTaskInput {
	display: inline;
	width: min(30rem, 75%);
}
