.formContainer > label {
	margin-block: 1.2rem 1rem;
}

.buttonRow {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.radioButton {
	display: inline;

	input[type='radio'] {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		visibility: hidden;
		z-index: 100;
	}

	label {
		transition: background-color 0.1s ease-in-out, transform 0.1s ease-in-out,
			color 0.1s ease-in-out;
		border-radius: 10px;
		padding: 0.4rem 0.8rem;
		cursor: pointer;
		user-select: none;
	}

	label:hover,
	label:focus-visible {
		box-shadow: var(--bs-box-shadow-sm);
	}
}

.subTaskList,
.contactList {
	margin-block: 1rem;
	list-style: none;
	padding: 0;

	input[type='checkbox'] {
		margin: 0.5rem 1rem 0.5rem 0.5rem;
	}
}

.buttonRow:last-child {
	margin-block: 2rem;
}

.contactList {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(12rem, 2.5fr));
	grid-gap: 10px 20px;
	margin: 0;

	input {
		cursor: pointer;
	}

	label {
		user-select: none;
		cursor: pointer;
		padding: 2px 9px 2px 2px;
		border-radius: 10px;
	}

	label:hover,
	label:focus-visible {
		background-color: var(--bs-white);
	}
}

label[for='subTasks'] {
	display: block;
}

.addButton {
	padding: 0;
	width: 2.25rem;
	height: 2.25rem;
	margin-inline-start: 1rem;
}

.subTaskInput {
	display: inline;
	width: min(30rem, 75%);
}

.labelRow {
	margin-block: 1.2rem 1rem;
	height: 1.1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.formError {
	color: var(--bs-danger);
}
