.boardContainer {
    background: #ececec;
    display: flex;
}

.menuContainer nav {
    height: 100%;
    width: 14rem;
    min-height: 100svh;
}

.contentContainer > article {
    padding: 0;
}

.contentContainer {
    padding: 2rem;
    width: calc(100svw - 14rem);
}