.boardContainer {
	display: flex;
}

.menuContainer nav {
	min-height: calc(100svh - 4rem);
	height: 100%;
	width: 14rem;
}

.contentContainer > article {
	padding: 0;
}

.contentContainer {
	padding: 2rem;
	width: calc(100svw - 14rem);
	background-color: var(--bs-white);
}
