.headerContainer {
  margin-block: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerContainer .contactBtn {
  margin-left: .8rem;
}

.headerContainer h2 {
  display: inline-block;
}

.avatar {
  margin-inline: .5rem 1.5rem;
  border-radius: 50%;
  height: 3.5rem;
  width: 3.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.5rem;
}

.btnBox {
  height: 2.4rem;
  flex-shrink: 0;
}

.contactBtn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 0;
  padding: .4rem;
}

.contactBtn.active {
  background-color: var(--bs-blue);
}

.formContainer .formRow {
  margin-block: 1rem;
}

.formContainer input[type="radio"], .formContainer input[type="checkbox"] {
  margin-inline: 0.5rem;
}

.formRow {
  display: flex;
  gap: 2rem;
}

.formRow svg {
  margin: 0 7px 4px 0;
}

.formRow:not(.radioRow) div {
  flex: 1;
}

.formRow div label:first-child {
  margin-block: 1rem;
}

.buttonRow > * {
  margin-block-start: 2rem;
  padding-bottom: 2px;
}

.contactColumn {
  width: 12rem;
  display: inline-block;
  
  p {
    margin-block: 1rem;
  }
}

.labelRow {
  margin-block: 1.2rem 1rem;
  height: 1.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.formError {
  color: var(--bs-danger);
}