.statusMessage {
    position: fixed;
    bottom: 20px;
    right: 1vw;
    max-width: 98vw;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
    background-color: var(--bs-gray-700);
  }
  
  .statusMessage.visible {
    opacity: 1;
    visibility: visible;
  }

  .statusMessage.positive {
    background-color: var(--bs-success);
  }

  .statusMessage.negative {
    background-color: var(--bs-danger);
  }